
aside{
  margin:20px;
  background-color: rgba(248, 74, 234, 0.571);
  float:bottom;
}
main {
  width:80%;
  margin:0 auto;
}
nav{
  background-color:rgba(130, 223, 223, 0.5);
}

nav ul {
  display:flex;
  justify-content: flex-start;
  gap:20px;
  font-size:1.5em;
}

nav ul a {
  text-decoration:none;
}
nav ul li:hover,
nav ul li:focus {
  background-color:hsl(153, 59%, 55%)
}

nav ul li {
  margin:5px;
  padding: 25px;
  border:3px dotted rgb(0 0 0 /0.1);
  border-radius:10px;
  list-style:none;
  background-color:hsl(153, 59%, 65%);
}



